<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Open Date</th>
            <th>Close Date</th>
            <th># Games</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each weeks}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{formatDate this.open_date}}</td>
              <td>{{formatDate this.close_date}}</td>
              <td>{{this.games.length}}</td>
              <td><a href="/weeks/{{this.id}}">View Week</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
